<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box about">
      <h2>About</h2>
      <p>
        This is a simple GeoLocation app that retrieves the user's location and gives detailed information about it. It is also possible to search for the physical location of a website, which is displayed on a map.
      </p>
      <p>
        After searching for a website's location, the user can compare its position with the website's. Whenever the user resets its location or searches for a different website, the map is updated accordingly.
      </p>
      <p>
        This application uses the <a href="http://ip-api.com">IP-API</a> to retrieve information about IPs locations.
      </p>

      <h4>Author: </h4>
      <strong>Guilherme Sad</strong> - <em>gorgulhoguilherme@gmail.com</em>
    </div>
  </div>
</div>
